.keyboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.key-default {
  fill: #e2e8f0;
  stroke: #94a3b8;
}

.key-pressed {
  fill: #4ade80;
  stroke: #16a34a;
  animation: pulse 0.2s;
}

.key-expected {
  fill: #3b82f6;
  /* Azul para la tecla esperada */
  stroke: #2563eb;
}

.key-error {
  fill: #ef4444;
  stroke: #b91c1c;
  animation: shake 0.3s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

/* Animación de error */
@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-2px);
  }

  75% {
    transform: translateX(2px);
  }
}

/* Estilos para el teclado en modo oscuro */
.dark .key {
  fill: #374151;
  stroke: #4b5563;
}

.dark text {
  fill: #f3f4f6;
}