@tailwind base;
@tailwind components;
@tailwind utilities;

/* App.css */
.key-default {
  fill: #e2e8f0;
  stroke: #94a3b8;
}

.key-pressed {
  fill: #4ade80;
  stroke: #16a34a;
  animation: pulse 0.2s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

.loading {
  @apply flex items-center justify-center h-screen text-xl font-medium dark:text-white;
}

/* Estilos para el teclado en modo oscuro */
.dark .key {
  fill: #374151;
  stroke: #4b5563;
}

.dark text {
  fill: #f3f4f6;
}